# Python / PyTorch
*_temp.py
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Data
data/
*.dataset

# VS Code
.vscode/

# RealNet artifacts
*.pth
*.pt
*.checkpoints
runs/
logs/
out_*/
out/

# Tokenizers
*_tokenizer_*.json

# OS
.DS_Store
Thumbs.db
